.button-modal {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin: 0 164px;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-20%);
        &:hover,
        &:focus {
            background: #188CE8;
        }

                                @media screen and (min-width: 480px) {
                                margin: 0 125px;
                                }
                
                                @media screen and (min-width: 768px) {}
                
                                @media screen and (min-width: 1200px) {
                                margin: 0 164px;
                                }
}


.button-modal-form-txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}