.checkbox {
    margin-top: 4px;
    margin-right: 7px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;


}

.check__box {
    margin-right: 7px;
    margin-top: 4px;
    width: 16px;
    height: 15px;
    display: flex;

        .checkbox:checked+& {
        
                background-image: url(../images/icon_check.svg);
        
        
            }

                        @media screen and (min-width: 480px) {
                           margin-top: 0px;
                        }
            
                        @media screen and (min-width: 768px) {}
            
                        @media screen and (min-width: 1200px) {
                            margin-top: 4px;

                        }

}


.checkbox:checked+.check__box>.check__box_b {
    opacity: 0;
}