
.command {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F5F4FA;
    @media (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}




.command-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

}

.list-command {

    list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

}

.command-item{
    width: 100%;

        @media screen and (min-width: 480px) {
            width: 450px;
            text-align: center;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
            
        }
}


.command-members {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.command-position {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

