.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background: #2F303A;
}

.conteiner-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
}

.footer-loc {
    margin-right: 70px;
}