.header {   
    border-bottom: 1px solid #ECECEC;
    
@media screen and (min-width: 480px) {

height: 60px;
    }

    @media screen and (min-width: 768px) {
height: 80px;
    }

    @media screen and (min-width: 1200px) {
padding-top: 15px;
height: 80px;
    }
}

.conteiner-header {
    
position: relative;
display: flex;
align-items: center;

width: 100%;

justify-content: space-between;

    @media screen and (min-width: 480px) {
            max-width: 450px;
    
        }
    
        @media screen and (min-width: 768px) {
    
            max-width: 738px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 15px;
                padding-right: 15px;
    
        }
    

}

.logo-header {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-right: 85px;
    
    @media screen and (min-width: 480px) {
            padding: 16px;
    
        }
                @media screen and (min-width: 768px) {
                    margin-right: 85px;
                    font-size: 24px;
                    line-height: 28px;
                }
                                @media screen and (min-width: 1200px) {
                
                                                                font-size: 26px;
                                                                line-height: 31px;
                                                                margin-right: 85px;}
                
                                }



.logo-type-header {
    color: black
}


// mob-menu--------------------------//

.mob-menu {
    }


.is-hidden {}

.menu-close {}

.menu-close-icon {}

.conteiner-mob {
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

        height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
}

.no-scroll {}

.top-menu {}

.menu-nav {}

.list-studio-menu {}

.item-nav-menu {}

.list-portfolio-menu {}

.list-contact-menu {}

.bottom-menu {}

.menu-contacts {}

.mail-menu {}

.tel-menu {}

.menu-soc {}

.inst-mob {}

.tw-mob {}

.facebook-mob {}

.in-mob {}