.header {   
    border-bottom: 1px solid #ECECEC;
    
@media screen and (min-width: 480px) {

height: 60px;
    }

    @media screen and (min-width: 768px) {
height: 80px;
    }

    @media screen and (min-width: 1200px) {
padding-top: 15px;
height: 80px;
    }
}

.conteiner-header {
    
position: relative;
display: flex;
align-items: center;

width: 100%;

justify-content: space-between;

    @media screen and (min-width: 480px) {
            max-width: 450px;
    
        }
    
        @media screen and (min-width: 768px) {
    
            max-width: 738px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 15px;
                padding-right: 15px;
    
        }
    

}

.logo-header {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-right: 85px;
    
    @media screen and (min-width: 480px) {
            padding: 16px;
    
        }
                @media screen and (min-width: 768px) {
                    margin-right: 85px;
                    font-size: 24px;
                    line-height: 28px;
                }
                                @media screen and (min-width: 1200px) {
                
                                                                font-size: 26px;
                                                                line-height: 31px;
                                                                margin-right: 85px;}
                
                                }



.logo-type-header {
    color: black
}


// mob-menu--------------------------//


.menu-open{
    @media screen and (min-width: 480px) {
    display: block; 
    background-color: #ffffff; 
        }
    
        @media screen and (min-width: 768px) {
        display: none;
        }
    
        @media screen and (min-width: 1200px) {
        display: none;
        }
}
.mob-menu {
    display: block;

    // transform: translate(100%, 100%);
       
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            background-color: #fff;
            padding-left: 40px;
    }


.is-hidden {
    display: none;
}

.menu-close {
    background-color: white;
    position: absolute;
    top: 10px;right: 15px;
    
}

.menu-close-icon {
    padding: 10px;
    fill: #212121;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            fill: #2196F3;
        }
}

.conteiner-mob {
        
}



.top-menu {
    margin-bottom: 302px;
    
}

.menu-nav {
    
}

.list-studio-menu {
        margin-bottom: 35.7px;
        
}

.item-nav-menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
        color: #2196F3;
    }
}

.list-portfolio-menu {
    margin-bottom: 32px;
}

.list-contact-menu {}

.menu-contacts {
    margin-bottom: 64px;
}

.menu-contacts>li{
        font-family: 'Roboto';
        font-style: normal;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
}

.mail-menu {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.tel-menu {
    color: #2196F3;
}

.menu-soc {
    display: flex;
    text-align: center;
    
}
.menu-soc>li{
        padding-right: 10px;
        border-right-width: 1px;
        border-right-style: solid;
        color: rgba(33, 33, 33, .2);
        margin-right: 10px;
}
.none{
    border: #ffffff;
}

.inst-mob {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    
}

.tw-mob {
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #2196F3;
}

.facebook-mob {
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #2196F3;
}

.in-mob {
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #2196F3;
}