.klients {
    padding-top: 60px;
    padding-bottom: 60px;

    
}

.klients-title {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 50px;
}

.klients-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    width: 100%;

    @media screen and (min-width: 480px) {
            flex-basis: calc((100% - 30px) / 2);
            
        }
    
        @media screen and (min-width: 768px) {
    
            flex-basis: calc((100% - 60px) / 3);
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 150px) / 6);
            
            
    
        }
}





.klients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border: 1px solid #2196F3;
        }


}

.klients-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .klients-link:hover &,
        .klients-link:focus &{
            fill: #2196F3;
        }

        
}