.klients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.klients-title {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 50px;
}

.klients-list {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}





.klients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border: 1px solid #2196F3;
        }

}

.klients-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .klients-link:hover &,
        .klients-link:focus &{
            fill: #2196F3;
        }
}