.nav {
    display: flex;
    align-items: center;
    font-family: inherit;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;
    margin-right: 315px;

@media screen and (min-width: 320px) {
    display: none;}

@media screen and (min-width: 768px) {
    display: -webkit-box;
    margin-right: 90px;
    
}
@media screen and (min-width: 1200px) {
margin-right: 290px;}

}

.list-studio,
.list-portfolio {
    margin-right: 50px;
    
}



.item-nav{
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    &:hover {
        color: #2196F3;
    }
    
    &:active{
        color: #2196F3;
    }
       
}
.item-nav-list{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
    
        &:hover {
            color: #2196F3;
        }
                &:active {
                    color: #2196F3;
                }
}





.item-nav::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    left: 0;
    

    @media screen and (min-width: 768px) {
    bottom: -2px;
    }

    @media screen and (min-width: 1200px) {
    bottom: -2px;
    }
}



.mail {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;

    }
@media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    
}


@media screen and (min-width: 1200px) {
    font-size: 14px;
        line-height: 16px;
}



}





.mail-icon {
    margin-right: 10px;
    fill: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .mail:hover &,
    .mail:focus & {
        fill: #2196F3;

    }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 14px;
        height: 10px;
        }

       
}

.tel-icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .tel:hover &,
    .tel:focus & {
        fill: #2196F3;

    }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: 10px;
            height: 14px;
        }

}


.header-icon {
      
    @media screen and (min-width: 320px) {
        list-style: none;
        display: flex;
        gap: 50px;
        display: none;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            margin-left: auto;
            flex-direction: column;
            padding-top: 21px;
            padding-bottom: 21px;
            gap: 10px;
            
        }
    
        @media screen and (min-width: 1200px) {
                    list-style: none;
                    display: -webkit-box;
                    flex-direction: row;
                    margin-left: auto;
                    padding-top: 32px;
                        padding-bottom: 32px;
                    align-items: center;
        }

}
.header-icon>li{
    margin-right: 30px;
}


.tel {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;

    }
@media screen and (min-width: 768px) {
    
        font-size: 12px;
        line-height: 14px;

}
@media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
}


}