.qualites {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.qualites-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

.qualites-item{
    width: 100%;

        @media screen and (min-width: 320px) {
            max-width: 100%;
        }
    
        @media screen and (min-width: 768px) {
            max-width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            max-width: calc((100% - 90px) / 4);
        }
}

.qualites-icon-warning {
    margin: 0 auto;
    // width: 270px;
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.qualites-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    
    @media (max-width: 768px) {
            text-align: center;
    
        }
    
    
        
}

.qualites-txt {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 100%;

}