.title {
    // background: #2F303A;
    padding: 118px 0 118px 0;
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/img_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    
    
    @media screen and (min-width: 320px) {
        background-image:
                linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/img_bg_mob.jpg);
            
        }
    
        @media screen and (min-width: 768px) {
            background-image:
                    linear-gradient(to right, rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url(../images/img_bg_tab.jpg);
    
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1600px;
            padding: 200px 0 200px 0;
    
        }


}

.title-site {
    

    @media screen and (min-width: 320px) {
           max-width: 360px; 
           margin: 0 auto;
        margin-bottom: 30px;

        font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 26px;
            line-height: 42px;
            /* or 162% */
        
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        
            color: #FFFFFF;
        }
    
        @media screen and (min-width: 768px) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        /* or 162% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        margin: 0 auto;
            margin-bottom: 30px;
            max-width: 360px;
        
        }
    
        @media screen and (min-width: 1200px) {
        font-family: inherit;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: white;
        max-width: 696px;
        margin: 0 auto;
        margin-bottom: 32px;
        
        }
}